<%= form_for @project do |f| %>
	<h1>Create a New Project</h1>
	<p>
		<label><%= f.label :project_name %></label>
		<input type="text" placeholder="Enter project here"<%= f.text_field :project_name %>
	</p>

	<p>
		<button type="submit" class="btn">Create</button>
	</p>


<% end %>