<%= form_for @role do |f| %>
	<h1>Create a New Role</h1>
	<p>
		<label><%= f.label :role_name %></label>
		<input type="text" placeholder="Enter role here"<%= f.text_field :role_name %>
	</p>

	<p>
		<button type="submit" class="btn">Create</button>
	</p>


<% end %>